.App {
  text-align: center;
}

.login-panel {
    min-width: 320px;
}

.main-page{
    text-align: center;
}

.form-header {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.form-element {
    margin: 10px 10px 10px 5px;
}

.form-element label {
    padding-top: 8px;
    margin-left: -10px;
    margin-right: 5px;
}

#wrapper {
    text-align: center;
}

.navbar {
    border-radius: 0;
    background-color: #000;
    border: 0;
}

.nav-welcome {
    margin-top: 15px;
    color: #fff;
}

.small-text {
    text-align: center;
    font-size: 0.75em;
}

.active-true {
    pointer-events: none;
    cursor: default;
    color: black;
}


.error-msg {
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 0.75em;
    color: red;
}

.well-item {
    text-align: left;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    margin-right: 52px;
}

.nav-element {
    font-size: 1.6em;
    font-weight: 500;
    color: #ffffff;
}

.price-highlighter {
    font-size: 16px;
    font-weight: 500;
    color: #ff6900;
}

.iconcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.iconbox {
    background: #ffffff;
    background-color: #ffffff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding: 20px 25px;
    display: block;
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
    min-height: 250px;
}
.iconbox-icon {
    background-color: #ffbb11;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-top: -70px;
}
.iconbox-icon svg {
    color: #fff;
    font-size: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.footer-bs {
    background-color: #1f1f1f;
    padding: 10px 10px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 0px;
    margin-top: 40px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: static;
    font-family: 'Oxygen', sans-serif;
}

footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }

.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p {
    font-size:12px;
    color:rgba(255,255,255,0.70);
    margin-top: 100px;
}

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-ns .phonenumber {
    color: #ffbb11;
}

.footer-bs .footer-ns .phonetext {
    font-size: 16px;
}

.footer-bs .footer-ns .phonenumber-big {
    font-size: 32px;
    font-weight: 600;
    color: #ffbb11;
    text-align: center;
}

.footer-header {
    text-align: center;
}

.profile h1{
    text-align: center;
}